---
import PostList from '@/components/post/PostList.astro'
import TagFilter from '@/components/tags/TagFilter.astro'
import { defaultLocale, moreLocales } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPosts } from '@/utils/content'


export async function getStaticPaths() {
  type PathItem = {
    params: { tags: string }
    props: { lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { tags: 'tags/' },
    props: { lang: defaultLocale },
  })

  // More locales
  moreLocales.forEach((lang: string) => {
    paths.push({
      params: { tags: `${lang}/tags/` },
      props: { lang },
    })
  })

  return paths
}

const { lang } = Astro.props
const allTags = await getAllTags(lang)
// 获取所有文章用于热力图
const allPosts = await getPosts(lang)
---

<Layout posts={allPosts} showHeatmap={true}>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- Tag List -->
  <!-- Tag Filter -->
  <TagFilter
    tags={allTags}
  />

  <!-- Post List -->
  <div class="mt-10.5">
    <PostList
      posts={allPosts}
      lang={lang}
    />
  </div>
</Layout>
